<div class="menu">
    <ul class="nav flex-column barra-lat">
      <li class="nav-item">
        <h3 class="nav-link">Redes</h3>
      </li>
        <li class="nav-item">
          <a class="nav-link "  href="https://github.com/CandelaNiz98" target="_blank">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/candela-niz-ba5698131/" target="_blank">Linkedin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/candela_niz/?hl=es-la" target="_blank">Instagram</a>
        </li>        
      </ul>
</div>